#####################################
# JEC GlassCat Project .gitignore
# Please maintain alphabetical order!
#####################################

#####################################
# VSCE
#####################################

# Ignore VSCE folder
.vscode


#####################################
# admin
#####################################

# Ignore admin 'node_modules' folder
admin/node_modules

# Ignore JavaScript files in src folder
admin/**/*.js
!admin/webapp/console/systemjs.config.js

#####################################
# node_modules
#####################################

# Ignore 'node_modules' folder
node_modules

#####################################
# src
#####################################

# Ignore JavaScript files in src folder
src/**/*.js

#####################################
# test
#####################################

# Ignore JavaScript files in test folder
test/**/*.js

#####################################
# Post install folders
#####################################

# Ignore 'server' folder
server

# Ignore 'public' folder
public

# Ignore 'workspace' folder
workspace

#####################################
# temp files
#####################################

glasscat.bat
