<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">&nbsp;</div>
        <h3 class="ui-grid-col-6"><i class="fa fa-map-o"></i> Resource Map properties</h3>
    </div>
    <div class="ui-grid-row">
        <label class="form-label ui-grid-col-2" for="ejpResourcesInput">Resources: </label>
        <div class="ui-grid-col-3">
            <p-listbox id="ejpResourcesInput" [(ngModel)]="selectedResource" [options]="resourceListModel"
                (onChange)="resourceListChange()"
                [style]="{'height':'225px','max-height':'225px'}"></p-listbox>
        </div>
        <div class="ui-grid-col-1"></div>
        <form [formGroup]="ejpResourceMapForm" class="ui-grid-col-6">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <div style="margin-bottom:10px;padding-top:8px;">
                            <label class="form-label" for="ejpResourceNameInput">Name: </label>
                        </div>
                        <div  style="padding-top:8px;">
                            <label class="form-label" for="ejpResourceMappingInput">Mapping: </label>
                        </div>
                    </div>
                    <div class="ui-grid-col-8">
                        <div style="margin-bottom:8px;">
                            <input id="ejpResourceNameInput" pInputText type="text" name="resourceName" formControlName="resourceName" promp="required"/>
                        </div>
                        <div>
                            <input id="ejpResourceMappingInput" pInputText type="text" name="resourceMapping" formControlName="resourceMapping"  promp="required"/>
                        </div>
                        <div>&nbsp;</div>
                        <div *ngIf="resourceEditable===false">
                            <button pButton type="button" icon="fa fa-plus" label="Create Resource Map" [disabled]="!ejpResourceMapForm.valid" (click)="createResource()"></button>
                        </div>
                        <div *ngIf="resourceEditable">
                            <button pButton type="button" icon="fa fa-edit" label="Apply changes" [disabled]="!ejpResourceMapForm.valid"  (click)="updateResource()" style="margin-bottom:5px;"></button>
                            <button pButton type="button" icon="fa fa-trash" class="ui-button-secondary" label="Remove" (click)="removeResource()" style="margin-bottom:5px;"></button>
                            <button pButton type="button" icon="fa fa-remove" class="ui-button-secondary" label="Cancel" (click)="cancel()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>