<h1>GlassCat Server Administration Console</h1>

<p-panel>
  <p-header>
    <i class="fa fa-tasks"></i> Common Tasks
  </p-header>
  <div class="ui-g">
    <div class="ui-g-6">
      <div class="list-group">
        <h4>GlassCat News</h4>
        <button type="button" pButton [disabled]="true" icon="fa fa-paw fa-fw" label="GlassCat News"></button>
      </div>
      <div class="list-group">
        <h4>Deployment</h4>
        <button type="button" pButton class="ui-button-secondary" [routerLink]="['/domains']" icon="fa fa-sitemap fa-fw" label="List Deployed Domains"></button>
        <button type="button" pButton class="ui-button-secondary" icon="fa fa-download fa-fw" label="Deploy a Domain"></button>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="list-group">
        <h4>Documentation</h4>
        <button type="button" pButton class="ui-button-secondary" [disabled]="true" icon="fa fa-book fa-fw" label="GlassCat Documentation Set"></button>
      </div>
      <div class="list-group">
        <h4>Administration</h4>
        <button type="button" pButton class="ui-button-secondary" [disabled]="true" icon="fa fa-lock fa-fw" label="Change Admin Password"></button>
        <button type="button" pButton class="ui-button-secondary" [disabled]="true" icon="fa fa-user fa-fw" label="List Password Aliases"></button>
      </div>
    </div>
  </div>
</p-panel>