<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GlassCat Angular-based Project Model">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="./styles/assets/glasscat.png">
    <title><% projectName %></title>

    <!-- Bootstrap core CSS -->
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./styles/css/home-page.css" rel="stylesheet">
    <style type="text/css">
      :root #content > #right > .dose > .dosesingle,
      :root #content > #center > .dose > .dosesingle
      { display: none !important; }
    </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><% projectName %></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="./">Home</a>
                <a class="nav-link" href="./app">Angular App</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><% projectName %></h1>
            <p class="lead">
              The Angular-based Glasscat Project Model provides a well structured project for building single page applications.
            </p>
            <p class="lead">
              <a href="./app" class="btn btn-lg btn-secondary">Run Angular App &raquo;</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; 2017 Company</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/tether/dist/js/tether.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./addons/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>