<h1>Environment</h1>
<p class="lead">This section provides all information about the GlassCat server environment.</p>

<p-panel>
  <p-header>
    <i class="fa fa-info-circle"></i> Platform
  </p-header>
  <div>
    <p>Current deployment platform is: <span class="label-info">{{platform}}</span></p>
    <p>Current processor architecture is: <span class="label-info">{{arch}}</span></p>
  </div>
</p-panel>

<p>&nbsp;</p>

<p-panel>
  <p-header>
    <i class="fa fa-list"></i> Environment Properties
  </p-header>
  <div>
    <p-dataTable [value]="environmentModel" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
      <p-column field="name" header="Variable" [sortable]="true" [filter]="true"></p-column>
      <p-column field="value" header="Value" [sortable]="true" [filter]="true"></p-column>
    </p-dataTable>
  </div>
  <p>&nbsp;</p>
  <p-fieldset legend="Information" toggleable="true" collapsed="true">
    Environment Properties are extracted from the Node.js <code>process.env</code>
    property. For more details please read the <a target="_blank" href="https://nodejs.org/dist/latest-v7.x/docs/api/">Node.js v7.0.0 Documentation</a>.
  </p-fieldset>
</p-panel>