<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><% projectName %></h1>
        <p>This is the Angular-based Glasscat Project Model!</p>
        <p *ngIf="message===null">
            <button class="btn btn-primary btn-lg" (click)="showAlert()">
                Test Angular directives &raquo;
            </button>
        </p>
        <div *ngIf="message!==null" class="alert alert-success" role="alert">
            <strong>Well done,</strong> {{message}}
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Project Structure</h2>
            <p>
                This section provides information about the GlassCat specific
                architecture for Angular applications.
            </p>
            <p>
                By following this well-structured model, you will easily create and
                maintain scalable applications.
            </p>
            <p>
                <a class="btn btn-secondary" routerLink="/project-structure"
                    role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Lazy Loading</h2>
            <p>
                The Angular-based Glasscat Project Model demonstrates how to 
                implement the angular <em>lazy loading module</em> features for 
                improving the performances of your application.
            </p>
            <p>
                Click the following button to dynamically load a new module in this
                sample project:
            </p>
            <p>
            <a class="btn btn-secondary" routerLink="/lazy-loading"
                role="button">Load module &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
            <a class="btn btn-secondary" href="#"
                role="button">View details &raquo;</a>
            </p>
        </div>
    </div>
</div>
<!-- /container -->